.room__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}


.room__wrapper input {
    width: 300px;
    padding: 5px;
}


